body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

#lives {
    text-align: center;
    font-size: 30px;
}

.catImage {
    max-width: 500px;
}

.popupImage {
    max-height: 300px;
}


.buttonContainer {
    display: grid;
    width: 500px;
    grid-template-columns: [start] 1fr [middle] 1fr [end];
    /* width: max-content;
    grid-template-columns: max-content max-content; */
    margin: auto;
    row-gap: 0.5em;
    column-gap: 0.5em;

}


.breedButton {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border-radius: 5px;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 46px;
}



h2 {
    text-align: center;
    color:  rgb(58, 69, 122);
    font-size: 27px;
}

#desc {
    word-wrap: break-word;
    text-align: left;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(58, 69, 122); 
}
  
  /* Modal Content/Box, Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
.wrong {
    background-color: red;
}

#text {
    max-width: 50%;
    margin: auto;
    color: rgb(58, 69, 122);
    font-size: 17px;

}

.center {
    text-align: center;
}

.scoreboxdiv {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

#scorebox {
    padding: 15px;
    color: rgb(58, 69, 122);
}

#meow {
    background-color: rgb(58, 69, 122);
    color: white;
    border-radius: 5px;
    font-size: 20px;
}



@media (max-width: 600px) {
    .catImage {
        max-width: 100%;
    }
    #text {
        max-width: 100%;
    }
    h1 {
        font-size: 30px;
    }
    .buttonContainer {
    width: 100%;
    }
}